<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "EDIT_PASSWORD.TITLE" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding background_color">
  <ion-card class="ion-padding">
    <form [formGroup]="form_password_user" (ngSubmit)="editUserPassword()">
      <ion-list>

        <ion-grid class="ion-no-padding">
          <ion-row class="ion-align-items-end">
            <ion-col>
              <ion-item class="top-space-10 input_field product_list product_round">
                <ion-input [type]="password_old_type" label='{{ "EDIT_PASSWORD.OLD_PASSWORD" | translate}}' labelPlacement="stacked" type="text" formControlName="old_password"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="auto">
              <div>
                <ion-button type="button" (click)="password_old_toggle()" type="button" size="small" fill="clear" class="password_button">
                  <ion-icon [name]="passwrod_icon" slot="end" ></ion-icon>
                </ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div class="errors"> 
          @if ((form_password_user.controls['old_password'].dirty || form_password_user.controls['old_password'].touched) && form_password_user.controls['old_password'].errors?.['required']){
            <span>{{ "FORMS_ERROR.PASSWORD_REQUIRED" | translate }}</span>
          }

          @if ((form_password_user.controls['old_password'].dirty || form_password_user.controls['old_password'].touched) && form_password_user.controls['old_password'].errors?.['minlength']){
            <span>{{ "FORMS_ERROR.PASSWORD_SHORT" | translate }}</span>
          }

          @if ((form_password_user.controls['old_password'].dirty || form_password_user.controls['old_password'].touched) && form_password_user.controls['old_password'].errors?.['passwordStrength'] && !form_password_user.controls['old_password'].errors?.['minlength']){
            <span>{{ "FORMS_ERROR.PASSWORD_EASY" | translate }}</span>
          }
        </div>


        <ion-grid class="ion-no-padding">
          <ion-row class="ion-align-items-end">
            <ion-col>
              <ion-item class="top-space-10 input_field product_list product_round">
                <ion-input [type]="password_type" label='{{ "EDIT_PASSWORD.PASSWORD" | translate}}' labelPlacement="stacked" type="text" formControlName="password"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="auto">
              <div>
                <ion-button type="button" (click)="password_toggle()" type="button" size="small" fill="clear" class="password_button">
                  <ion-icon [name]="passwrod_icon" slot="end" ></ion-icon>
                </ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div class="errors"> 
          @if ((form_password_user.controls['password'].dirty || form_password_user.controls['password'].touched) && form_password_user.controls['password'].errors?.['required']){
            <span>{{ "FORMS_ERROR.PASSWORD_REQUIRED" | translate }}</span>
          }

          @if ((form_password_user.controls['password'].dirty || form_password_user.controls['password'].touched) && form_password_user.controls['password'].errors?.['minlength']){
            <span>{{ "FORMS_ERROR.PASSWORD_SHORT" | translate }}</span>
          }

          @if ((form_password_user.controls['password'].dirty || form_password_user.controls['password'].touched) && form_password_user.controls['password'].errors?.['passwordStrength'] && !form_password_user.controls['password'].errors?.['minlength']){
            <span>{{ "FORMS_ERROR.PASSWORD_EASY" | translate }}</span>
          }
        </div>

        <ion-button color="secondary" type="submit" expand="block" [disabled]="!form_password_user.valid" class="save_button top-space-30">
          {{ "EDIT_PASSWORD.ACTION" | translate }}
        </ion-button>
      </ion-list>
    </form>
  </ion-card>
</ion-content>
