<ion-content [fullscreen]="true">
<ion-header>
  <img src="assets/logo.png" alt="logo praonica" class="logo">
</ion-header>
  
</ion-content>

<div class="container">
  <ion-item class="naslov">Gradski kompakt automobil -Corsa, Up, Clio, Astra</ion-item>
  <ion-item class="price">
    <p class="usluga">Ispiranje</p> 
    <p class="cijena">10,00€</p>
    </ion-item>
  <ion-item class="price">
    <p class="usluga">Kompletno pranje</p>
    <p class="cijena">30,00€</p>
  </ion-item>
  <ion-item class="price">
    <p class="usluga">Unutrašnje pranje</p>
    <p class="cijena">15,00€</p>
  </ion-item>
  <ion-item class="price">
    <p class="usluga">Vanjsko pranje</p>
    <p class="cijena">15,00€</p>
  </ion-item>
  <ion-item class="naslov">Osobni automobil - Octavia, Passat, BMW, 3/5/7, Mercedes C/E/S, Audi A4/5/6/7/8</ion-item>
  <ion-item class="price">
    <p class="usluga">Ispiranje</p>
    <p class="cijena">10,00€</p>
  </ion-item>
  <ion-item class="price">
    <p class="usluga">Kompletno pranje</p>
    <p class="cijena">35,00€</p>
  </ion-item>
  <ion-item class="price">
    <p class="usluga">Unutrašnje pranje</p>
    <p class="cijena">18,00€</p>
  </ion-item>
  <ion-item class="price">
    <p class="usluga">Vanjsko pranje</p>
    <p class="cijena">18,00€</p>
  </ion-item>
  <ion-item class="naslov">SUV/Terenca/Dostavni BMW X, Mercedes GL, Audi Q, Škoda Kodiaq, Range Rover, VVW Caddy</ion-item>
  <ion-item class="price">
    <p class="usluga">Ispiranje</p>
    <p class="cijena">10,00€</p>
  </ion-item>
  <ion-item class="price">
    <p class="usluga">Kompletno pranje</p>
    <p class="cijena">40,00€</p>
  </ion-item>
  <ion-item class="price">
    <p class="usluga">Unutrašnje pranje kabine</p>
    <p class="cijena">20,00€</p>
  </ion-item>
  <ion-item class="price">
    <p class="usluga">Vanjsko pranje</p>
    <p class="cijena">20,00€</p>
  </ion-item>
  <ion-item class="naslov">Kombi</ion-item>
  <ion-item class="price">
    <p class="usluga">Ispiranje</p>
    <p class="cijena">10,00€</p>
  </ion-item>
  <ion-item class="price">
    <p class="usluga">Kompletno pranje</p>
    <p class="cijena">45,00€</p>
  </ion-item>
  <ion-item class="price">
    <p class="usluga">Unutrašnje pranje kabine</p>
    <p class="cijena">23,00€</p>
  </ion-item>
  <ion-item class="price">
    <p class="usluga">Vanjsko pranje</p>
    <p class="cijena">23,00€</p>
  </ion-item>
  <ion-item class="naslov">Kemijsko</ion-item>
  <ion-item class="price">
    <p class="usluga">Bunker</p>
    <p class="cijena">30,00€</p>
  </ion-item>
  <ion-item class="price">
    <p class="usluga">Krov</p>
    <p class="cijena">40,00€</p>
  </ion-item>
  <ion-item class="price">
    <p class="usluga">Motor</p>
    <p class="cijena">30,00€</p>
  </ion-item>
  <ion-item class="price">
    <p class="usluga">Pod</p>
    <p class="cijena">50,00€</p>
  </ion-item>
  <ion-item class="price">
    <p class="usluga">Sjedalo</p>
    <p class="cijena">30,00€</p>
  </ion-item>
</div>

<ion-footer>

  <ion-button [ngClass]="{'active-nav': currentPage === 'home'}"  class="links"(click)="goToHome()">
    <div class="btn-content">
      <ion-icon name="calendar"></ion-icon>
       Naruči
    </div>
  </ion-button>

  <ion-button [ngClass]="{'active-nav': currentPage === 'cijenik'}" class="links" (click)="goToCijenik()">
    <div class="btn-content">
      <ion-icon name="pricetag"></ion-icon>
      Cijenik
    </div>
  </ion-button>

  <ion-button [ngClass]="{'active-nav': currentPage === 'vijesti'}" class="links" (click)="goToVijesti()">
    <div class="btn-content">
      <ion-icon name="newspaper"></ion-icon>
      Vijesti
    </div>
  </ion-button>

  <ion-button [ngClass]="{'active-nav': currentPage === 'kontakt'}" class="links" (click)="goToKontakt()">
    <div class="btn-content">
      <ion-icon name="call"></ion-icon>
      Kontakt
    </div>
  </ion-button>

  <ion-button [ngClass]="{'active-nav': currentPage === 'profil'}" class="links" (click)="goToProfil()">
    <div class="btn-content">
      <ion-icon name="person"></ion-icon>
      Profil
    </div>
  </ion-button>

</ion-footer>
