<ion-content [fullscreen]="true">
<ion-header>
  <img src="assets/logo.png" alt="logo praonica" class="logo">
</ion-header>
  
</ion-content>

<div class="container">
  <ng-container *ngFor="let group of groups">
      <ion-item class="naslov">{{ group.group_name }}</ion-item>

      <ion-item class="price" *ngFor="let price of group.prices">
        <p class="usluga">{{ price.price_name }}</p>
        <p class="cijena">{{ (price.price_value / 100) | number:'1.2-2' }} €</p>
      </ion-item>
    </ng-container>
</div>

<ion-footer>

  <ion-button [ngClass]="{'active-nav': currentPage === 'home'}"  class="links"(click)="goToHome()">
    <div class="btn-content">
      <ion-icon name="calendar"></ion-icon>
       Naruči
    </div>
  </ion-button>

  <ion-button [ngClass]="{'active-nav': currentPage === 'cijenik'}" class="links" (click)="goToCijenik()">
    <div class="btn-content">
      <ion-icon name="pricetag"></ion-icon>
      Cijenik
    </div>
  </ion-button>

  <ion-button [ngClass]="{'active-nav': currentPage === 'vijesti'}" class="links" (click)="goToVijesti()">
    <div class="btn-content">
      <ion-icon name="newspaper"></ion-icon>
      Vijesti
    </div>
  </ion-button>

  <ion-button [ngClass]="{'active-nav': currentPage === 'kontakt'}" class="links" (click)="goToKontakt()">
    <div class="btn-content">
      <ion-icon name="call"></ion-icon>
      Kontakt
    </div>
  </ion-button>

  <ion-button [ngClass]="{'active-nav': currentPage === 'profil'}" class="links" (click)="goToProfil()">
    <div class="btn-content">
      <ion-icon name="person"></ion-icon>
      Profil
    </div>
  </ion-button>

</ion-footer>
