
ion-content {
  --background: #f7efec;
}

ion-header {
  box-shadow: none;
  padding: 1rem 0;
  background: #f7efec;
}

.logo {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.container {
  background: #f7efec;
  height: 70%;
  overflow-y: scroll;
}

.naslov,
.price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  --background: #ededed;
  margin: 1rem auto;
  width: 90%;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
}

.naslov {
  --background: #621110;
  color: white;
}

.usluga {
  position: absolute;
  left: 0;
}

.cijena {
  position: absolute;
  right: 5%;
}

ion-footer {
background-color: #621110;
display: flex;
justify-content: center;
align-items: center;
height: 20vmin;
}

.links {
  --background: #61110f;
  --box-shadow: none;
  text-transform: none;

  ion-icon {
    font-size: 1.5rem;
    margin: 0.3rem 0;
  }
}

.btn-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.active-nav {
  --background: #d02c23;
  height: 100%;
}
