<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="orders">
      <ion-icon aria-hidden="true" name="calendar"></ion-icon>
      <ion-label>{{ "TABS.ORDER" | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="price-list">
      <ion-icon aria-hidden="true" name="pricetag"></ion-icon>
      <ion-label>{{ "TABS.RPICE" | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="news">
      <ion-icon aria-hidden="true" name="book"></ion-icon>
      <ion-label>{{ "TABS.NEWS" | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="company">
      <ion-icon aria-hidden="true" name="call"></ion-icon>
      <ion-label>{{ "TABS.COMPANY" | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="my-data">
      <ion-icon aria-hidden="true" name="person"></ion-icon>
      <ion-label>{{ "TABS.MY_DATA" | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
