ion-header {
  box-shadow: none;
  padding: 1rem 0;
  background: #f7efec;
}

ion-content {
  --background: #f7efec;
}

.logo {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.adresa,
.kontakt {
 font-size: 150%;
 line-height: 1.5;
 margin: 2rem;
}

.kontakt-btn {
    --background: #932d30;
  width: 90%;
  border-radius: 10px;
  margin: 0.3rem 1rem;
}

ion-footer {
background-color: #61110f;
display: flex;
justify-content: center;
align-items: center;
}

.links {
  --background: #61110f;
  --box-shadow: none;
  text-transform: none;

  ion-icon {
    font-size: 1.5rem;
    margin: 0.3rem 0;
  }
}

.active-nav {
  --background: #e3000f;
  height: 100%;
}
