<ion-header>
  <img src="assets/logo.png" alt="logo praonica" class="logo">
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Toggle Buttons -->
  <div class="login-toggle">
    <ion-button (click)="toggleMode('login')" [class.active]="!isLogin" class="login-btn">
      <p>Prijava</p>
    </ion-button>

    <ion-button (click)="toggleMode('register')" [class.active]="isLogin" class="register-btn">
      <p>Registracija</p>
    </ion-button>
  </div>
  
  <!-- Title -->
  <h1>{{ isLogin ? 'Prijava' : 'Registracija' }}</h1>

  <!-- Form -->
  <form (ngSubmit)="onSubmit()">
    <ion-item>  
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email"></ion-input>
    </ion-item>  
    
    <ion-item>  
      <ion-label position="floating">Lozinka</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
    </ion-item>  

    <!-- Action button -->
    <ion-button expand="block" class="action-button" class="action-btn" type="submit">
      {{ isLogin ? 'Prijava' : 'Registracija' }}
    </ion-button>

    <ion-button expand="block" class="cancel-btn" (click)="cancel()">Odustani</ion-button>
  </form>
</ion-content>
