<ion-header>
  <img src="assets/logo.png" alt="logo praonica" class="logo">
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Toggle Buttons -->
  <div class="login-toggle">
    <ion-button (click)="toggleMode('login')" [class.active]="!isLogin" class="login-btn">
      <p>Prijavi se</p>
    </ion-button>

    <ion-button (click)="toggleMode('register')" [class.active]="isLogin" class="register-btn">
      <p>Registriraj se</p>
    </ion-button>
  </div>
  
  <!-- Title -->
  <h3>{{ isLogin ? 'Prijava' : 'Registracija' }}</h3>

  <!-- Form -->
  <form #form="ngForm" (ngSubmit)="onSubmit()">

  <!-- Email -->
  <ion-item [class.invalid]="emailModel.invalid && (emailModel.dirty || emailModel.touched)"
          [class.valid]="emailModel.valid">
  <ion-label position="floating" [class.active-label]="emailValue">E-mail</ion-label>
  <ion-input type="email" name="emailValue" [(ngModel)]="emailValue"
             required email #emailModel="ngModel"></ion-input>
</ion-item>

  <div class="error" *ngIf="emailModel.invalid && (emailModel.dirty || emailModel.touched)">
    Unesite pravilnu emal poruku.
  </div>

  <!-- Password -->
  <ion-item [class.invalid]="passwordField.invalid && (passwordField.dirty || passwordField.touched)"
            [class.valid]="passwordField.valid">
    <ion-label position="floating" [class.active-label]="passwordValue">Lozinka</ion-label>
    <ion-input [type]="showPassword ? 'text' : 'password'" name="passwordValue" [(ngModel)]="passwordValue"
               required minlength="9" #passwordField="ngModel"></ion-input>
    <ion-icon
    [name]="showPassword ? 'eye-off' : 'eye'"
    slot="end"
    (click)="togglePasswordVisibility()">
  </ion-icon>

  </ion-item>
  <div class="error" *ngIf="passwordField.invalid && (passwordField.dirty || passwordField.touched)">
    Lozinka je obavezna.
  </div>

  <ion-button
  expand="block"
  class="action-btn"
  type="submit"
  [disabled]="form.invalid"
  [ngClass]="{'enabled-btn': form.valid, 'disabled-btn': form.invalid}">
  {{ isLogin ? 'Prijavi se' : 'Registriraj se' }}
</ion-button>

  <ion-button expand="block" class="cancel-btn" (click)="cancel()">Odustani</ion-button>
</form>

</ion-content>
