ion-header {
  box-shadow: none;
  padding: 1rem 0;
  background: #f7efec;
}

ion-content {
  --background: #f7efec;
}

.logo {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.login-toggle {
    background-color: #932d30;
    margin: 0 auto;
    width: 90%;
    border-radius: 10px;
    margin-top: 1rem;
}

.login-btn,
.register-btn,
.cancel-btn {
  --background: transparent;
  margin: 0 1.8rem;
  --box-shadow: none;

  &.active {
    --color: black;
  }
}

.register-btn::after {
  color: black;
}

.action-btn,
.cancel-btn {
  --background: #932d30;
  --color: white;
  width: 90%;
  margin: 0.5rem auto;
}

/*.action-btn {
  --background: #c58e8d;
  margin-top: 5rem;
}*/

.action-btn {
  margin-top: 5rem;
  --transition: 0.3s all;
}

.disabled-btn {
  --background: #c58e8d;
  --opacity: 0.5;
}

.enabled-btn {
  --background: #932d30;
  --opacity: 1;
}


h3 {
  text-align: center;
  font-size: 1.375rem
}

ion-item {
  --background: #f4f4f4;
  width: 90%;
  margin: 1rem auto;
  border-radius: 10px;
  border: #92949c 1px solid;
}

ion-item {
  --highlight-color-focused: #3a7afe;

  &.invalid {
    border-bottom: 3px solid #e74c3c;
    border-radius: 8px;
  }

  &.valid {
    border-bottom: 3px solid #2ecc71;
    border-radius: 8px;
  }

  ion-label.active-label {
    color: #3a7afe;
  }
}

.error {
  color: #e74c3c;
  font-size: 0.8rem;
  margin: 4px 0 8px 12px;
}


