<ion-header>
  <ion-toolbar color="primary">
    @if (data_load && reservation_objects.length > 0){
      <ion-segment (ionChange)="clickChangeObject($event)" [value]="reservation_object_select_id">
        @for (item of reservation_objects; track item.reservation_object_id){
          <ion-segment-button [value]="item.reservation_object_id">
            <ion-label>{{ item.reservation_object_name }}</ion-label>
          </ion-segment-button>
        }
      </ion-segment>
    }
    @else{
      <ion-title>
        {{ "TABS.ORDER" | translate }}
      </ion-title>
    }

    @if (progress){
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
    }
  </ion-toolbar>

  @if (data_load){
    <ion-grid class="ion-padding">
      <ion-row>
        <ion-col>
          <h3 class="date">{{ display_date }}</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="auto">
          <ion-button (click)="clickSubDay()" size="small" class="date_add_button" fill="outline">
             <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col >
          <ion-button  expand="block" (click)="clickToday()" size="small" fill="outline">
            {{ "ORDER.TODAY" | translate }}
          </ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button (click)="clickAddDay()" size="small" class="date_add_button" fill="outline">
            <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button id="open-date" size="small" class="date_add_button" fill="outline">
            <ion-icon slot="icon-only" name="ellipsis-horizontal-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  }

  @if (data_load){
    <ion-list>
      <ion-item>
        <ion-select (ionChange)="clickChangeInterval($event)" [label]="order_type_str" [value]="reservation_interval_select_id">
          @for (item of reservation_intervals; track item.reservation_interval_id){
            <ion-select-option [value]="item.reservation_interval_id">{{ item.reservation_interval_name}} - {{ item.reservation_interval_duration }}min</ion-select-option>
          }
        </ion-select>
      </ion-item>
    </ion-list>
  }

</ion-header>

<ion-content>

  @if (data_load && periods.length > 0){
    <h3 class="date">{{ "ORDER.CHOSE_PERIOD" | translate }}</h3>

    <ion-list>
      @for (item of periods; track item.id){
        <ion-item (click)="clickSelectPeriod(item)" button>
          <ion-icon [color]="item.reserved ? (item.my_period ? 'warning' : 'danger' ) : 'success'" aria-hidden="true" name="ellipse" slot="start"></ion-icon>
          <ion-label>{{ item.start }} - {{ item.end }}</ion-label>
        </ion-item>
      }
    </ion-list>
  }

  @if (data_load && periods.length == 0){
    @if (object_does_not_work){
      <div class="ion-padding">
        <app-info type="warning" [text]="no_work_text"></app-info>
      </div>
    }

    @if (old_date){
      <div class="ion-padding">
        <app-info type="warning" [text]="old_date_text"></app-info>
      </div>
    }

    @if (out_of_date){
      <div class="ion-padding">
        <app-info type="warning" [text]="out_of_date_text"></app-info>
      </div>
    }
  }

</ion-content>

@if (data_load){
  <ion-modal trigger="open-date" [keepContentsMounted]="true" cssClass="bottom-date">
    <ng-template>
      <ion-datetime 
      (ionChange)="onDatePicked($event)"
      presentation="date"
      id="date"
      [showDefaultButtons]="true"
      locale="hr-HR"
      [doneText]="ok_str" 
      [cancelText]="cancel_str"
      [min]="min_date"></ion-datetime>
    </ng-template>
  </ion-modal>
}




