

ion-header {
  box-shadow: none;
  padding: 1rem 0;
  background: #f7efec;
}

ion-content, 
ion-item {
  --background: #f7efec;
}

ion-input {
  margin-left: 3rem;
  width: 0;
}

ion-footer {
background-color: #421413;
display: flex;
justify-content: center;
align-items: center;
}

.date-button,
.login-button {
  --background: #932d30;
  width: 100%;
}

.login-button {
  margin: 1rem 0;
}

.date-button {
  height: 2.5rem;
}

.links {
  --background: #421413;
  --box-shadow: none;
  text-transform: none;

  ion-icon {
    font-size: 1.5rem;
    margin: 0.3rem 0;
  }
}

.btn-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.active-nav {
  --background: #e3000f;
  height: 100%;
}

.logo {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.date-picker {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.selected-date {
  font-size: 1.5rem;
}

.times {
  display: flex;
  align-items: center;
  justify-content: space-between;
  --background: #f4f4f4;
  margin: 0.5rem auto;
  width: 100%;
}

.izbor {
  text-align: left;
  font-size: 0.9rem;
  margin: 3rem 0 2rem 0.5rem;
}

.confirmation {
  height: 5vmin;
  width: 5vmin;
  background-color: #421413;
  border-radius: 50%;
  margin: 1rem;
}

.confirmation.confirmed {
  background-color: #6dd772;
}
