<ion-header>
  <img src="assets/logo.png" alt="logo praonica" class="logo">
</ion-header>

<ion-content class="ion-padding">
<ion-item lines="none" [formGroup]="applyForm">
  <div class="date-picker">

    <p class="selected-date">{{ formattedDate || 'Datum' }}</p>

    <ion-input 
      type="hidden"
      formControlName="date">
    </ion-input>

    <ion-button id="date-btn" expand="block" class="date-button">
      Promijeniti datum
    </ion-button>

    <ion-popover trigger="date-btn" side="bottom" alignment="center">
      <ng-template>
        <ion-datetime 
          presentation="date" 
          locale="hr-HR" 
          [firstDayOfWeek]="1" 
          [highlightedDates]="highlightedDates"
          [value]="formattedDate"
          (ionChange)="onDateChange($event, 'date')"
          [showDefaultButtons]="true">
        </ion-datetime>
      </ng-template>
    </ion-popover>
  </div>
</ion-item>


      <div class="items-container">
    <p class="izbor">Izaberite jedan od slobodnih termina:</p>

    <p *ngIf="apiMessage" class="api-message">
      <ion-icon name="information-circle"></ion-icon>
      {{ apiMessage }}
    </p>

    <ion-item 
      class="times" 
      *ngFor="let period of availablePeriods"
      (click)="checkAvailability(period.start)"
      [ngClass]="{'selected': selectedTime === period.start}">
      
      <div
        class="confirmation"
        [ngStyle]="{'background-color': getStatusColor(reservationsMap[period.start] ?? 0)}">
      </div>
      {{ period.title }}
    </ion-item>
  </div>

  <ion-button clicker="login" (click)="login()" class="login-button">Kemijsko čišćenje</ion-button>
</ion-content>

<ion-footer>

  <ion-button [ngClass]="{'active-nav': currentPage === 'home'}"  class="links"(click)="goToHome()">
    <div class="btn-content">
      <ion-icon name="calendar"></ion-icon>
       Naruči
    </div>
  </ion-button>

  <ion-button [ngClass]="{'active-nav': currentPage === 'cijenik'}" class="links" (click)="goToCijenik()">
    <div class="btn-content">
      <ion-icon name="pricetag"></ion-icon>
      Cijenik
    </div>
  </ion-button>

  <ion-button [ngClass]="{'active-nav': currentPage === 'vijesti'}" class="links" (click)="goToVijesti()">
    <div class="btn-content">
      <ion-icon name="newspaper"></ion-icon>
      Vijesti
    </div>
  </ion-button>

  <ion-button [ngClass]="{'active-nav': currentPage === 'kontakt'}" class="links" (click)="goToKontakt()">
    <div class="btn-content">
      <ion-icon name="call"></ion-icon>
      Kontakt
    </div>
  </ion-button>

  <ion-button [ngClass]="{'active-nav': currentPage === 'profil'}" class="links" (click)="goToProfil()">
    <div class="btn-content">
      <ion-icon name="person"></ion-icon>
      Profil
    </div>
  </ion-button>

</ion-footer>
