ion-header {
  box-shadow: none;
  padding: 1rem 0;
  background: #f7efec;
}

ion-content{
  --background: #f7efec;
}

.logo {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.naslov {
  background-color: #932d30;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem auto;
  padding: 1rem;
  width: 90%;
  border-radius: 10px
}

h2 {
  margin: 1rem;
}

ion-item {
  --background: #f4f4f4;
  --highlight-color-focused: #3a7afe;

  &.invalid {
    border-bottom: 3px solid #e74c3c;
    border-radius: 8px;
  }

  &.valid {
    border-bottom: 3px solid #2ecc71;
    border-radius: 8px;
  }

  ion-label {
    font-size: 0.8rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  ion-label.active-label {
    color: #3a7afe;
  }
}

.error {
  color: #e74c3c;
  font-size: 0.8rem;
  margin: 4px 0 8px 12px;
}

.input-container {
  margin: 1rem auto;
  width: 90%;
  border-radius: 10px;
  border: #92949c 1px solid;
}

.car-select {
  width: 70%;
}

.car-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
} 

.no-car {
  background-color: #fbfb10;
  width: 80%;
  margin-left: 1rem;
  padding: 0.8rem;
  border-radius: 10px;
  text-align: center;
  line-height: 1.5;
}

.info-icon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.add-btn {
  --background: transparent;
  --box-shadow: none;
  margin-right: 1rem;
}

.add-icon {
  color: #5591fc;
  font-size: 1.5rem;
}

.save-btn,
.cancel-btn {
    --background: #c58e8d;
    --color: white;
    width: 90%;
    margin: 1rem;
}

.cancel-btn {
  --background: #932d30;
}

.action-btn {
  margin-top: 5rem;
  --transition: 0.3s all;
}

.disabled-btn {
  --background: #c58e8d;
  --opacity: 0.5;
}

.enabled-btn {
  --background: #932d30;
  --opacity: 1;
}

